* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  letter-spacing: 0.5px;
  font-size: 18px;
}

h3,
h4 {
  color: rgb(34, 34, 34);
  line-height: 1.3;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

.logo-mobile,
.logo-desktop {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.logo-desktop {
  display: none;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* height: 442px; */
  overflow: hidden;
  background: #b0bec5;
}

.hero-contain {
  width: 100%;
  max-width: 1024px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

.hero-img {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  /* height: 100%; */
  height: 442px;
  object-fit: cover;
  object-position: bottom;
  background-position: center;
  background-size: cover;
  z-index: 0;
  opacity: 0;
  animation: fadeIn 1s 400ms ease forwards;
}

.hero h1 {
  display: block;
  font-size: 2rem;
  font-weight: bolder;
  line-height: 60px;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 6px 84px rgba(0, 0, 0, 0.8);
  margin: 0;
  line-height: 1;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 60px;
  max-width: 300px;
  flex-shrink: 1;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1s 400ms ease forwards;
  position: absolute;
  top: calc(442px / 2 - 60px);
  left: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.search {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
  background: white;
  width: 100%;
}

.input-wrapper {
  width: calc(100% - 1px);
  padding: 8px 16px;
  box-shadow: rgb(221 221 221) 0px 0px 0px 1px inset;
  border-radius: 8px;
  display: inline-flex;
}

.input-wrapper .input + .input {
  border-left: 1px solid rgb(221, 221, 221);
  padding-left: 20px;
  margin-left: 20px;
}

.input-wrapper:focus-within {
  box-shadow: rgb(34 34 34) 0px 0px 0px 2px inset !important;
}

.input-wrapper .label {
  display: block;
  font-size: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 6px;
}

.input-wrapper input {
  border: 0;
  font-family: inherit;
  font-size: 15px;
  font-weight: lighter;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  outline: 0;
  width: 100%;
}

.button {
  margin: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 8px;
  font-size: 16px;
  font-family: inherit;
  font-weight: regular;
  border-radius: 8px;
  appearance: none;
  padding: 14px 24px;
  outline: 0;
  border: 0;
  width: 100%;
  min-width: 200px;
  background-size: 200% 200%;
  background: linear-gradient(to right, rgb(89, 8, 110) 0%, rgb(70, 4, 121) 50%, rgb(68, 5, 137) 100%);
}

.hotels {
  padding: 50px 20px 40px;
}

.hotels + .hotels {
  border-top: 1px solid rgb(220, 220, 220);
}

.advertency {
  background: rgb(247, 247, 247);
  font-size: 14px;
  line-height: 1.2;
  font-weight: lighter;
  text-align: center;
  color: rgb(72, 72, 72);
  padding: 40px 20px;
}

.w-slider {
  margin: 16px 0;
  position: relative;
}

.c-slider {
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.c-slider ul {
  padding: 20px 0;
  /* margin: 0 -8px; */
  display: flex;
  list-style: none;
}

.c-slider li {
  width: 272px;
  text-align: center;
  flex-shrink: 0;
  scroll-snap-align: center;
  margin: 0 8px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  overflow: hidden;
}

.c-slider li > div {
  height: auto;
  width: 272px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

.c-slider li img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  top: 0;
  left: 2px;
  z-index: -1;
}

.c-slider li h4 {
  font-size: 18px;
  font-weight: bolder;
  margin: 20px 20px 0;
}
.c-slider li span {
  font-size: 14px;
  font-weight: lighter;
  margin: 10px 20px 20px;
  color: rgb(113, 113, 113);
}

.c-slider__prev:not([hidden]),
.c-slider__next:not([hidden]) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
  background: white;
  position: absolute;
  right: -15px;
  top: calc(50% - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  z-index: 2;
  outline: 0;
  appearance: none;
  border: 0;
  cursor: pointer;
}

.c-slider__prev {
  right: auto;
  left: -15px;
}

.why {
  margin: 20px 0;
}

.why svg {
  margin-bottom: 20px;
}

.why-title {
  font-weight: bolder;
  font-size: 16px;
  margin: 10px 0;
}

.why-desc {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.video {
  aspect-ratio: 360/480;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.more-destinations {
  padding: 20px;
}

.list-h,
.list-i {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
  font-weight: lighter;
}

.list-h {
  font-weight: bolder;
  margin-top: 36px;
}

@media (min-width: 768px) {
  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
  }

  .hero-contain {
    position: absolute;
    max-width: 1280px;
  }

  .hero-img {
    height: 776px;
  }

  .search {
    position: absolute;
    top: 300px;
    flex-direction: row;
    width: calc(100% - 40px);
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 8px 28px rgb(0 0 0 / 28%);
  }

  .search .input-wrapper {
    box-shadow: none;
  }

  .search .button {
    min-width: 100px;
  }

  .video {
    aspect-ratio: 1000/500;
  }

  .whygroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .why {
    flex-shrink: 1;
    flex-grow: 1;
  }
}
